@import 'variables.scss';
@import 'toolbar.scss';
@import 'loader.scss';
@import 'input.scss';

.container {
  /*
  max-width: 600px;
  border: 1px solid #eee;
  padding: 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

.hide {
  display: none;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-size: 0.8rem;
  text-align: center;
}

.file {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
}

.todo {
  text-align: left;
  margin: 0 auto;
  border: 1px solid #eee;
  // padding: 20px;
  margin: 20px auto;
  width: 85%;
  label {
    cursor: pointer;
    @include noSelect();
  }
  .todo-title {
    background-color: #999;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    span {
      font-size: 0.8rem;
    }
  }
  .todo-list {
    padding: 20px;
    label {
      transition: 300ms all;
      margin-left: 5px;
    }
    input[type="checkbox"] {
      margin-right: 10px;
    }
    input:checked + div label {
      text-decoration: line-through;
      color: #999;
    }
  }
  .todo-item {
    margin-bottom: 10px;
  }
}

.loading, .notFound {
  margin: 30px 0;
}

.loader {
  margin: 50px auto 30px;
  width: 65px;
}

.todo-empty {
  text-align: center;
}

.example {
  span {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333;
  }
}

.footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #999;
  .fa {
    margin-right: 5px;
  }
  a {
    color: #333;
    text-decoration: none;
    transition: 300ms color;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}

.restart {
  margin: 20px;
  .restart-button {
    color: white;
    background-color: black;
    transition: 100ms all;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #999;
    }
  }
}