@import './variables.scss';

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);

  transition: opacity 200ms ease-in-out;
  &--after-open {
      opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }

  .ReactModal__Content {
    position: absolute;

    @include breakpoint(tablet) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      animation: animPopin 0.3s ease-in;

      transition: opacity 200ms ease-in-out;
      &--after-open {
          opacity: 1;
      }
      &--before-close {
          opacity: 0;
      }
    }

    @include breakpoint(mobile) {
      overflow-y: scroll;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      margin-top: 35px;
    }

    .popin {
      background-color: #fff;
      padding: 20px 30px 30px;
      line-height: 25px;
      font-family: 'Quicksand', sans-serif;
      @include breakpoint(mobile) {
        padding: 70px 30px;
      }
      h4 {
        text-align: center;
        font-weight: bold;
        color: cadetblue;
        font-size: 1rem;
        margin-bottom: 0;
      }
      .divider {
        font-size: 1.2rem;
        color: $pink;
      }
      h5 {
        color: cadetblue;
        margin-bottom: 0;
      }
      a {
        color: #ccc;
        transition: 0.6s color;
        &:hover {
          color: #333;
        }
      }
    }

    .popin_fermer {
      text-align: center;
      cursor: pointer;
      border: 1px solid #eee;
      padding: 3px;
      margin-top: 15px;
      transition: 0.5s all;
      @include noSelect();
      &:hover {
        background-color: #eee;
        a {
          color: #333;
        }
      }
    }
    
    .react-calendar {
      margin-top: 30px;
      @include breakpoint(mobile) {
        width: auto;
      }
    }
    
    .popin_close {
      font-size: 3rem;
      position: absolute;
      top: 15px;
      right: 30px;
      cursor: pointer;
      color: #ccc;
      transition: 1s color;
      @include breakpoint(mobile) {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
      &:hover {
        color: $pink;
      }
  
    @keyframes animPopin {
      from {
        opacity: 0;
        transform: translate(-50%, -50%) rotateX(-90deg);
        filter: blurY(2px);
      }
      to {
        opacity: 1;
        transform: translate(-50%, -50%) rotateX(0);
        filter: blurY(0px);
      }
    }
  
    &:focus {
      outline: none;
    }
  
    .popin__dialog {
      background-color: blue;
      border-radius: 10px;
      padding: 30px 20px;
      color: #fff;
      display: inline-block;
      width: 80%;
      max-width: 320px;
      min-width: 250px;
      
      .popin__dialog__buttons {
        padding-top: 25px;
      }
  
      .popin__dialog__title {
        font-size: 1.125rem;
        margin: 0 auto;
        max-width: 180px;
      }
  
      .popin__dialog__action {
        margin-top: 25px;
      }
  
      .popin__dialog__appointement {
        margin-top: 25px;
  
        .button {
          padding-right: 60px;
        }
      }
    }
  }

}

}

.ReactModal__Body__open {

  @include breakpoint(mobile) {
    overflow-y: hidden;
  }

}
